<app-header />
<div class="container">

  <!-- Page Heading -->

  <div class="row">
    <div class="bg-success text-white text-center py-5 mt-3 rounded mb-5">
      <h2 class="fw-bold">Your Recipe Collection!!</h2>
    </div>
  </div>

  <!-- Recipes Grid -->
  <div class="row g-4 justify-content-start">

    <!-- 1 Recipe Card -->
@if (recipes?.length>0) {
  @for (item of recipes; track $index) {
    <div class="col-md-3 col-sm-6">
      <div class="text-center">
        <img [src]="item.recipeImage" class="img-fluid rounded recipe-img">
        <div class="d-flex align-items-center justify-content-between">
          <p class="fw-semibold mt-2">{{item?.recipeName}}</p>
          <button (click)="deleteRecipe(item._id)" class="border-0"> <i class="fa-solid fa-trash text-danger "></i></button>
        </div>
      </div>
    </div>
    }
}
@else{
  <img width="200px" height="fit" src="https://assets-v2.lottiefiles.com/a/0953d504-117d-11ee-aa49-1f149204cb5f/9uZcoEJaoF.gif" alt="">
  iowjfoiei
}


  </div>

</div>

<app-footer />