<app-header />
<!-- landing -->
<div class="container mt-3 mb-3 ">
    <div class="bg-success ">
        <div class="row p-5 rounded bg-success">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 text-light">
                <h1>The Easiest Way <br>
                    To Make Your <br>
                    Favourite Meal</h1>
                <p style="text-align:  justify;" class="my-4">Discover 1000+ recipes in your hand with the best recipe,
                    Help you to find the easiest way to cook</p>
                <a routerLink="/recipe" class="btn btn-success text-light border rounded">Explore Our Recipes</a>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuseSeSultpYiLpRmH-bjk7y9G17E3-inMJg&s"
                    class="w-75 ms-5 rounded" alt="">
            </div>
        </div>
    </div>
    <!-- popular recipe -->
    <div class="p-0 my-5">
        <h1>Popular Recipes of the Week</h1>
        <div class="d-flex justify-content-between">
            <p>Our Most popular recipes of the week</p>
            <a routerLink="/recipe">View All</a>
        </div>
    </div>
    <div class="row my-3">
        @for (item of allRecipes; track $index) {
        <div class="col-lg-4">
            <div class="p-3 border rounded mb-3">
                <img loading="lazy" width="100%" class="card-img-top rounded" [src]="item?.image" alt="recipe">
                <div class="card-body">
                    <h3 class="recipe name mt-3">{{item?.name}}</h3>
                </div>
            </div>
        </div>
        }


    </div>
    <!--recipe banner  -->
    <div class="my-5 row align-items-center"
        style=" height: 400px; background-image: url(https://img.freepik.com/premium-photo/food-banners_583952-13024.jpg); background-size: cover; background-repeat: no-repeat;">
        <div class="col-lg-6"></div>
        <div class="col-lg-6">
            <div class="bg-light rounded p-5 w-75">
                <h1>50+ Recipes That Very Quick And Fast </h1>
                <p class="text-secondary">Find the perfect food ideas to start your day with the quick and easiest way.
                </p>
            </div>
        </div>
    </div>
    <!-- downaload app -->
    <div class="my-5 p-5 row align-items-center bg-success rounded text-light">
        <div class="col-lg-6 text-center">
            <img height="350px"
                src="https://img.freepik.com/free-photo/minimal-smartphone-rocks-arrangement_23-2149672672.jpg?semt=ais_hybrid&w=740&q=80"
                alt="">
        </div>
        <div class="col-lg-6 text-light  d-flex align-items-center justify-content-center flex-column">
            <h1>Download our App</h1>
            <p class="text-center">Download the app from google play store or <br> Apple Store for better experience</p>
            <div class="d-flex justify-content-center align-items-center">
                <div>
                    <img width="150px"
                        src="https://freepngimg.com/download/android/67006-app-play-google-android-store-free-clipart-hd.png"
                        alt="playstore">
                </div>
                <div>
                    <img width="150px" src="https://benic360.com/wp-content/uploads/2020/06/apple-store-icon-png-8.png"
                        alt="playstore">
                </div>
            </div>
        </div>
    </div>
    <div class="my-5 text-center ">
        <h1>Testimony</h1>
        <div class="my-5 d-flex scroll-text">
            @for (item of allFeedbacks; track $index;let i=$index) {
            <div class=" border rounded p-4 shadow me-3 w-25 text-wrap">
                <span class="fw-bold">{{item.name}}</span>
                <p>{{item.message}}</p>
            </div>
            }
        </div>
    </div>
</div>
<app-footer />